version: 2
registries:
  gradle-plugin-portal:
    type: maven-repository
    url: https://plugins.gradle.org/m2
    username: dummy # Required by dependabot
    password: dummy # Required by dependabot
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      github-actions:
        patterns:
        - "*"

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "@types/node" # Breaking change: update with next major release
      - dependency-name: "@octokit/rest" # Tied to node version
    groups:
      npm-dependencies:
        patterns:
        - "*"
      
  - package-ecosystem: "gradle"
    directory: ".github/workflow-samples/gradle-plugin"
    registries:
      - gradle-plugin-portal
    schedule:
      interval: "daily"
  - package-ecosystem: "gradle"
    directory: ".github/workflow-samples/groovy-dsl"
    registries:
      - gradle-plugin-portal
    schedule:
      interval: "daily"
  - package-ecosystem: "gradle"
    directory: ".github/workflow-samples/java-toolchain"
    registries:
      - gradle-plugin-portal
    schedule:
      interval: "daily"
  - package-ecosystem: "gradle"
    directory: ".github/workflow-samples/kotlin-dsl"
    registries:
      - gradle-plugin-portal
    schedule:
      interval: "daily"
  - package-ecosystem: "gradle"
    directory: ".github/workflow-samples/no-wrapper"
    registries:
      - gradle-plugin-portal
    schedule:
      interval: "daily"
  - package-ecosystem: "gradle"
    directory: ".github/workflow-samples/no-wrapper-gradle-5"
    registries:
      - gradle-plugin-portal
    schedule:
      interval: "daily"
  - package-ecosystem: "gradle"
    directory: "test/init-scripts"
    registries:
      - gradle-plugin-portal
    schedule:
      interval: "daily"
