name: CI-full-check

on:
  workflow_dispatch:
  pull_request:
    types:
      - assigned
      - review_requested
  push:
    branches: 
      - main
      - release/**
    paths:
      - '.github/**'
      - 'dist/**'

jobs:
  action-inputs:
    uses: ./.github/workflows/integ-test-action-inputs.yml
    with:
      cache-key-prefix: ${{github.run_number}}-

  cache-cleanup:
    uses: ./.github/workflows/integ-test-cache-cleanup.yml
    with:
      cache-key-prefix: ${{github.run_number}}-

  caching-config:
    uses: ./.github/workflows/integ-test-caching-config.yml
    with:
      cache-key-prefix: ${{github.run_number}}-

  dependency-graph:
    uses: ./.github/workflows/integ-test-dependency-graph.yml
    permissions:
      contents: write
    with:
      cache-key-prefix: ${{github.run_number}}-

  dependency-graph-failures:
    uses: ./.github/workflows/integ-test-dependency-graph-failures.yml
    with:
      cache-key-prefix: ${{github.run_number}}-

  execution-with-caching:
    uses: ./.github/workflows/integ-test-execution-with-caching.yml
    with:
      cache-key-prefix: ${{github.run_number}}-

  execution:
    uses: ./.github/workflows/integ-test-execution.yml
    with:
      cache-key-prefix: ${{github.run_number}}-

  develocity-injection:
    uses: ./.github/workflows/integ-test-inject-develocity.yml
    with:
      cache-key-prefix: ${{github.run_number}}-
    secrets:
      DEVELOCITY_ACCESS_KEY: ${{ secrets.GE_SOLUTIONS_ACCESS_TOKEN }}

  provision-gradle-versions:
    uses: ./.github/workflows/integ-test-provision-gradle-versions.yml
    with:
      cache-key-prefix: ${{github.run_number}}-

  restore-configuration-cache:
    uses: ./.github/workflows/integ-test-restore-configuration-cache.yml
    with:
      cache-key-prefix: ${{github.run_number}}-
    secrets:
      GRADLE_ENCRYPTION_KEY: ${{ secrets.GRADLE_ENCRYPTION_KEY }}

  restore-custom-gradle-home:
    uses: ./.github/workflows/integ-test-restore-custom-gradle-home.yml
    with:
      cache-key-prefix: ${{github.run_number}}-

  restore-containerized-gradle-home:
    uses: ./.github/workflows/integ-test-restore-containerized-gradle-home.yml
    with:
      cache-key-prefix: ${{github.run_number}}-

  restore-gradle-home:
    uses: ./.github/workflows/integ-test-restore-gradle-home.yml
    with:
      cache-key-prefix: ${{github.run_number}}-

  restore-java-toolchain:
    uses: ./.github/workflows/integ-test-restore-java-toolchain.yml
    with:
      cache-key-prefix: ${{github.run_number}}-

  sample-kotlin-dsl:
    uses: ./.github/workflows/integ-test-sample-kotlin-dsl.yml
    with:
      cache-key-prefix: ${{github.run_number}}-

  sample-gradle-plugin:
    uses: ./.github/workflows/integ-test-sample-gradle-plugin.yml
    with:
      cache-key-prefix: ${{github.run_number}}-

  toolchain-detection:
    uses: ./.github/workflows/integ-test-detect-java-toolchains.yml
    with:
      cache-key-prefix: ${{github.run_number}}-
