name: CI-init-script-check

on:
  push:
    paths:
      - '.github/workflows/ci-init-script-check.yml'
      - 'src/resources/init-scripts/**'
      - 'test/init-scripts/**'
  workflow_dispatch:

jobs:
  test-init-scripts:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout sources
      uses: actions/checkout@v3
    - name: Setup Java
      uses: actions/setup-java@v3
      with:
        distribution: temurin
        java-version: 8
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2.7.0 # Use a released version to avoid breakages
    - name: Run integration tests
      working-directory: test/init-scripts
      run: ./gradlew check
